:root.dark {
    --color-black: black;
    --color-white: #fefefe;
}

:root.light {
    --color-black: #fefefe;
    --color-white: black;
}
* {
    box-sizing: border-box;
    
}
@font-face {
    src: url(./fonts/MUNICH_SANS.ttf);
    font-family: munich;
}

body {
    background-color: var(--color-black);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 23px;
    padding-bottom: 0;
}

.header {
    font-family: munich;
    font-weight: bolder;
    font-size: 100px;
    color: var(--color-white);
    
}

.calculator {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   gap: 20px;
   width: 400px;
}

.screen {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 400px;
    border: 10px solid var(--color-white);
    border-left: 5px;
    border-right: 5px;
    color: var(--color-white);
}

.screen .previous {
    font-family: munich;
    font-size: 20px;
    min-height: 30px;
    text-align: end;
    padding: 0 4px;
}

.screen .current {
    font-family: munich;
    font-size: 50px;
    min-height: 60px;
    text-align: end;
    padding: 0 4px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 12px;
}

button {
    font-family: munich;
    font-size: large; 
    padding: 15px 32px;
    text-align: center;
    border-radius: 12px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-white);
    transition-duration: 0.1s;
}

button:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

#clear {
    grid-area: 1/1/2/3;
}

#backspace {
    padding: 14px 23px;
}

.btn-number.zero {
    grid-area: 5/1/6/3;
}

.footer {
    color: var(--color-white);
    font-weight: bolder;
    font-size: 15px;
}

.theme {
    position: fixed;
    top: 7%;
    right: 7%;
}

#btn-theme {
    top: 3rem;
    right: 3rem;
}